= field_set_tag 'Privacy' do
  = f.input :privacy_dont_use_my_gravatar, :label => "Do NOT use my avatar from <a href='http://www.Gravatar.com'>Gravatar.com</a>".html_safe
  = f.input :privacy_dont_list_me, :label => "Do NOT list me anywhere (e.g. the members page, search results, and autocomplete drop-down menus)"
  = f.input :privacy_dont_show_location, :label => "Do NOT show my location (region and country) on my profile"