%h3 Sign Up for FREE!
%ol
  %li Take surveys to help improve public health
  %li Create surveys to generate awarness, support, and leads
  %li Share your research using our R-based reports
  %li Communicate and collaborate with your fellow SoEpi members using both our public and private messaging services

= render :partial => "/members/shared/links"