%h3 Sign Up for FREE!
%ol
  %li Take surveys to help improve public health
  %li Get involved by launching your own surveys
  %li Do your own research using out easy chart builder
  %li Take action by signing and launching petitions
  %li Collaborate with and support others throug groups

= render :partial => "/members/shared/links"