= field_set_tag 'Subscriptions' do
  = f.input :subscription_notifications, :label => "Email me a daily summary of my notifications."
  = f.input :subscription_messages, :label => "Email me when I receive a message."
  = f.input :subscription_news, :label => "Email me SoEpi's monthly newsletter."