%p
  Welcome #{@resource.nickname}!
%p You can confirm your account through the link below:
%p= link_to 'Confirm my account', main_app.member_confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
