%p Hello #{@resource.nickname}!
%p 
  Your SoEpi pin is: 
  %strong
    = @resource.pin
%p 
  %strong Please do not forget your pin. 
  We do not store your pin. Though we can give you a new pin, you will
  essentially be starting from scratch. For example, any surveys you took previous to loosing your pin
  will no longer be associated with your new pin. 
%p We highly suggest you write your pin on a paper and store it in your files.
%p
  Thanks,
  %br/
  SoEpi