= f.input :title, :hint => 'Describe what this R script does in a few words.'
= f.input :description, :hint => 'Describe what this R script does in full.'
= f.input :tag_list, :label => 'Tags', :input_html => {:class => 'tags', :"data-seperator" => ','}, :hint => 'Categorize this R script with any words you want. Hit Enter or type a comma to delimit each tag.'