#run-results{:title => 'Results'}
  - if @report
    - if @report.drafting? 
      #results-actions
        %button{:class => 'button'} Report these Results
        %button{:class => 'button'} Delete these Results 
      #plots
        %h3 Plots
        %ul.reset
          - @report.assets.each do |asset|
            %li
              = link_to image_tag(asset.file.thumb('250x250#').url), asset.file.url, :target => '_blank' 
      #output
        %h3 Output
        = simple_format @report.results
    - elsif @report.pending?
      %h3 
        We are running your R script. This could take a minute. Please wait. 
      %p
        = image_tag 'ajax-loader.gif', :class => 'ajax-loader'
  - else
    %h3 
      We are starting your own R server. This could take a minute. Please wait.
    %p
      = image_tag 'ajax-loader.gif', :class => 'ajax-loader'
      
  