- content_for :body_content_title do
  New R Script
      
- content_for :body_content_left do
  Content...
      
- content_for :body_content_right do
  Content...       
  
= render :partial => "/shared/content_page"