%p #{@member.nickname},
%p Below are your latest notifications:
%ul
  - @notifications.each do |notification|
    %li
      = link_to notification.message, main_app.url_for(notification.notifiable), :only_path => false
%p
  Thanks,
  %br/
  #{link_to 'SoEpi.org', main_app.root_path, :only_path => false}
%p= Refinery::Setting.find_or_set :email_footer, %{<em><a href="http://soepi.org">SoEpi</a> is a 501(c)(3) nonprofit dedicated to improving health via online social epidemiology.</em>}.html_safe