%p #{@member.nickname},
%p Below are your latest notifications:
%ul
  - @notifications.each do |notification|
    %li
      = link_to notification.message, main_app.url_for(notification.notifiable, :only_path => false)
%p
  Thanks,
  %br/
  SoEpi