<% unless @status.new_record? %>
  $('#new-status').remove();
  $('body').append('<div id="alert" title="Alert"><p>Your status was sent!</p></div>');
  $('#alert').dialog({
    modal:true, 
    zIndex:9, 
    minWidth:400, 
    close:function() {
      $(this).remove();
    }
  }).show('blind');
  $('#member_status_body').val('');
  $('#member_status_body').blur();
  $('#member_status_body').css('height','20px');
  $('#status-extra').hide('blind');
  $('input.tags, textarea.tags').tagit('removeAll');
  $('input.tags, textarea.tags').blur();
  init_common_elements();
<% end %>