- if @open_graph_meta
  .sharing
    %span.st_facebook{:st_title => @open_graph_meta[:title], :st_url => @open_graph_meta[:url], :st_image => @open_graph_meta[:image_url], :st_summary => @open_graph_meta[:description]}
    %span.st_twitter{:st_title => @open_graph_meta[:title], :st_url => @open_graph_meta[:url], :st_image => @open_graph_meta[:image_url], :st_summary => @open_graph_meta[:description]}
    %span.st_google{:st_title => @open_graph_meta[:title], :st_url => @open_graph_meta[:url], :st_image => @open_graph_meta[:image_url], :st_summary => @open_graph_meta[:description]}
    %span.st_linkedin{:st_title => @open_graph_meta[:title], :st_url => @open_graph_meta[:url], :st_image => @open_graph_meta[:image_url], :st_summary => @open_graph_meta[:description]}
    %span.st_email{:st_title => @open_graph_meta[:title], :st_url => @open_graph_meta[:url], :st_image => @open_graph_meta[:image_url], :st_summary => @open_graph_meta[:description]}
    %span.st_sharethis{:st_title => @open_graph_meta[:title], :st_url => @open_graph_meta[:url], :st_image => @open_graph_meta[:image_url], :st_summary => @open_graph_meta[:description]}
  
  :javascript
    load_sharethis()