- cache "tags-#{controller_name}-#{action_name}", :expires_in => 15.minutes do 
  - if @tags and not @tags.empty?
    %h3 Recent Tags
    %ul#tags
      - @tags.each do |tag| 
        %li 
          = link_to tag, url_for(:controller => controller_for_tag(tag), :action => 'by_tag', :tag => tag), :class => 'tag'
          x #{tag.count}
      