%ul.listing.reset
  - @reports.each do |report|
    %li[report]
      = render :partial => '/reports/report', :locals => {:report => report}
= paginate  @reports, :remote => true
= javascript_tag 'init_common_elements();'