%ul.listing.reset
  - @surveys.each do |survey|
    %li[survey]
      = render :partial => '/surveys/survey', :locals => {:survey => survey}
= paginate  @surveys, :remote => true
= javascript_tag 'init_common_elements();'