= f.input :name, :hint => 'Use this name as an R variable in your script. It must begin with a letter and contain no punctuation or spaces. '
= f.input :description, :hint => 'Describe the variable, so that others using your script know how to use it.'
= f.input :default, :hint => 'Specify a default value. It must be recognizable by R. For example, c(1,2,3,4,5) or read.csv("http://soepi.org/api/v1/surveys/23/results.csv")'