%p
  Hi #{@comment.survey.member.nickname},
  
%p
  We have posted a #{link_to 'comment', survey_comments_url(@comment.survey, :anchor => @comment.id)} in response to your survey, #{link_to @comment.survey.title, survey_url(@comment.survey)}. 
  
%p
  Thanks!
  %br/
  SoEpi