Hi SoEpi admins,

%p
  A #{link_to 'comment', survey_comments_url(@comment.survey, :anchor => @comment.id)} was posted in response to survey, #{link_to @comment.survey.title, survey_url(@comment.survey)}. 
  
%p
  Thanks!
  %br/
  SoEpi