%p
  Hi #{@survey.member.nickname},

%p
  We're sorry, #{link_to @survey.title, survey_url(@survey)}, was rejected.

%p
  Please #{link_to 'contact us', page_url(:id => 'contact')} if you have any questions or comments.
  
%p
  Thanks!
  %br/
  SoEpi