%p Hi #{@survey.member.nickname},
%p Contratulations! The results of your survey, #{link_to @survey.title, survey_url(@survey)}, were published.
%p Please #{link_to 'contact us', page_url(:id => 'contact')} if you have any questions or comments.
%p
  Thanks!
  %br/
  SoEpi