%p
  Hi SoEpi staff,

%p
  A survey, #{link_to @survey.title, survey_url(@survey)}, was submitted for review. 
  Please review the survey and discuss the survey with your team before launching or rejecting the survey, 
  or asking for changes to be made to the survey.
  
%p
  Thanks!
  %br/
  SoEpi