= simple_form_for(@question, :html => {:novalidate => true}, :url => survey_question_path(:survey_id => @question.survey, :id => @question.id), :remote => true) do |f|
  = render :partial => 'form', :locals => {:question => @question, :f => f}
  .actions
    = f.submit 'Update and Edit', :class => 'button', :name => 'update_edit'
    = f.submit 'Update and Close', :class => 'button', :name => 'update_close'