#require-pin{:style => 'display:none', :title => 'Please enter your PIN'}
  - simple_form_for current_member, :url => update_pin_survey_path(@survey), :remote => true do |f|
    %h3 To participate in this survey, you must enter your PIN:
    %p
      = f.text_field :pin, :hint => 'Your PIN is four alphanumeric characters.', :value => ''
      = f.submit 'Submit', :class => 'button'
    %p= f.error :pin
  %h3 Forgot your PIN?
  %p
    = link_to 'Generate and send me a new PIN', generate_and_send_new_pin_survey_path(@survey), :method => 'put', :class => 'button', :confirm => 'Are you sure?', :remote => true, :id => 'send-pin'