= render :partial => '/surveys/title'
= render :partial => '/surveys/toolbar'
= render :partial => '/surveys/details'
  
- content_for :body_content do
  Summary statistics here until the survey is published...
    
= render :partial => "/shared/content_page"