.ui-widget-overlay 
  {
  @include opacity(0.75);
  background: #333;
  }

.ui-dialog
  {
  -moz-box-shadow: 0 0 10px #333;
  -webkit-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 20px #333;
  color: #333;
  font-weight: normal;
  
  h1, h2, h3, h4 {color: #333;}
  h1 {font-size: 1.5em;} 
  h2 {font-size: 1.3em;} 
  h3 {font-size: 1.2em;} 
  h4 {font-size: 1.1em;}
  
  a 
    {
    color: $dark_blue;
    font-weight: normal;
    }
    
  #body_content_left
    {
    width: 60%;
    float: left;
    margin-right: 15px;
    color: #222;
    }
    
  #body_content_right
    {
    width: 30%;
    float: left;
    color: #222;
    }
  
  .sharing
    {
    text-align: center;
    margin: 15px auto;
    display: block;
    }
  }

.ui-dialog-titlebar.ui-widget-header
  {
  background: $dark_gray;
  border: none;
  font-size: 0.8em;
  color: #000;
  }
  
#sign-in-dialog
  {
  font-size: 0.9em;
    color: #222;
  
  h2, h3
    {
    font-size: 1.2em;
    color: #222;
    }
  
  #body_content_left
    {
    width: 600px;
    float: left;
    margin-right: 15px;
    color: #222;
    
    .input input[type=text], .input input[type=password], .input input[type=email]
      {
      margin: 0;
      border: 1px solid #aaa;
      }
    
    label
      {
      font-size: 0.9em;
      color: #222;
      font-weight: normal;
      }
    }
    
  #body_content_right
    {
    width: 210px;
      color: #222;
    float: left;
    }
  }