@import "common";
@import "compass/css3/opacity";

.ui-widget-content 
  {
  color: inherit !important;
  }

.ui-widget-overlay 
  {
  @include opacity(0.75);
  background: #999;
  }

.ui-dialog
  {
  -moz-box-shadow: 0 0 20px #111;
  -webkit-box-shadow: 0 0 20px #111;
  box-shadow: 0 0 20px #111;
  font-weight: normal;
  background: #2F2F2F url(/assets/bg-dark-2.png);
  border: none;
  
  h1 {font-size: 1.5em;} 
  h2 {font-size: 1.3em;} 
  h3 {font-size: 1.2em;} 
  h4 {font-size: 1.1em;}
    
  #body_content_left
    {
    width: 60%;
    float: left;
    margin-right: 15px;
    }
    
  #body_content_right
    {
    width: 30%;
    float: left;
    }
  
  .sharing
    {
    text-align: center;
    margin: 15px auto;
    display: block;
    }
  
  .simple_form .actions
    {
    width: auto;
    }
  }

.ui-dialog-titlebar.ui-widget-header
  {
  background: #2F2F2F url(/assets/bg-dark-2.png);
  border: none;
  border-bottom: 1px solid #444;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-size: 0.8em;
  padding: 0.4em 0;
  margin: 0 1em;
  }
  
.ui-dialog-titlebar-close
  {
  margin: -10px -3px 0 0;
  }
  
