@import "common";
@import "compass/css3/opacity";

.bp.home
  {
  form.status
    {
    @include clearfix;
    margin-bottom: 15px;
    
    #member_status_body
      {
      height: 20px;
      width: 561px;
      max-width: 561px;
      padding: 10px;
      }
    
    #status-extra 
      {
      float: left;
      }
    
    .tagit
      {
      width: 575px;
      }
    
    button
      {
      float: right;
      }
    }
  
  #your
    {
    margin-bottom: 15px;
    
    .ui-tabs-nav
      {
      font-size: 0.96em;
      
      li:first-child
        {
        padding: 3px 10px 0 0;
        font-size: 1em;
        }
      
      li.your
        {
        color: #aaa !important;
        }
      
      a
        {
        padding: 4px 7px;
        }
      }
    }
  
  #tree-bg
    {
    background: transparent url(/assets/tree-spring-bg.png) no-repeat;
    position: fixed;
    top: 50%;
    left: -600px;
    display: block;
    height: 876px;
    width: 991px;
    margin: -500px 0 0 0;
    z-index: -100;
    }
  
  
  #welcome
    {    
    -moz-box-shadow: 0 0 15px #111;
    -webkit-box-shadow: 0 0 15px #111;
    -o-box-shadow: 0 0 15px #111;
    box-shadow: 0px 0px 15px #111;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 640px;
    height: 420px;
    margin: -225px 0 0 -250px;
    padding: 15px;
    position:absolute;
    left: 50%;
    top: 50%;
    background: #222;
  
    #top
      {
      @include clearfix;
      
      h1#logo
        {
        @include column(4);
        margin: 0;
        padding: 0;
        
        a 
          { 
          background: url(/assets/soepi-logo-dark-bg.png) no-repeat;
          text-indent: -99999px;
          display: block;
          height: 62px;
          width: 133px;
          }
        }
      
      #sign-in-links
        {
        float: right;
        }
      }
      
    #inner
      {
      margin-top: 15px;
      
      #about
        {
        width: 240px;
        margin: 0 15px 0 0;
        float: left;
        }
      
      #features 
        {
        width: 385px;
        float: right;
        
        .ui-accordion-header
          {
          background: transparent; 
          border: none;
          
          a 
            {
            color: $blue;
            padding: 5px 0 5px 5px;
            font-size: 1.2em;
            }
          
          &.ui-state-active a
            {
            color: white;
            }
          
          .ui-icon
            {
            background-image: url(/assets/ui-icons_ffffff_256x240.png);
            }
          }
        
        .ui-accordion-content
          {
          border: none;
          }
        } 
      }
      
    #footer
      {
      width: auto;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin: 0 0 0 -155px;
      padding: 10px 0;
      height: auto;
      font-size: 0.7em;
      }
    }
  }
