@import "common";
@import "blueprint/reset";

body.bp 
  {  
  background: #2F2F2F url(/assets/bg-dark.png);
  
  #root
    {
    overflow: visible;
    }
    
  #container 
    {
    @include pie-clearfix;
    width: 950px;
    margin: 15px auto;
    padding: 15px;
    -moz-box-shadow: 0 0 15px #111;
    -webkit-box-shadow: 0 0 15px #111;
    -o-box-shadow: 0 0 15px #111;
    box-shadow: 0px 0px 15px #111;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #2F2F2F url(/assets/bg-dark.png);
    }
  } 

body.bp.blank #container
  {
  padding: 0;
  background: none;
  }

body.bp.two-column #container 
  {            
  min-height: 300px;
  
  #body_content_left 
    {
    @include column($content-columns-left); 
    }
  
  #body_content_right
    {
    @include column($content-columns-right, true); 
    }
  }  

body.bp.two-column-wide #container 
  {            
  #body_content_left 
    {
    @include column($content-columns-left - 3);
    }
  
  #body_content_right
    {
    @include column($content-columns-right + 3, true); 
    }
  }  

body.bp.one-column #container #body_content 
  {
  @include column(24, true);      
  z-index: 2;
  } 

 
  

  
