@import "common";

.bp .listing
  {
  list-style-type: none;
  margin: 0;
  padding: 0;
      
  li 
    {  
    margin: 0 0 15px 0;
    padding: 0;
    list-style-type: none;
    @include clearfix; 
    
    img 
      {
      float: left;
      margin: 5px 10px 2px 0;
      }
    
    .inner
      {
      display: block;
      float: right;
      width: 630px;
      }
      
    h3
      {
      margin: 0 0 5px 0;
      padding: 0;
      clear: none;
      }
      
    p 
      {
      margin: 2px 0 10px 0;
      }
    }
  }

.bp .tabs .listing li .inner
  {
  width: 830px;  
  }

.bp .tabs .listing li .inner
  {
  width: 760px;  
  }

.bp.one-column .listing li .inner
  {
  width: 870px;  
  }

.bp.one-column .tabs .listing li .inner
  {
  width: 820px;  
  }

.bp.two-column .listing li .inner
  {
  width: 620px;  
  }

.bp.two-column .tabs .listing li .inner
  {
  width: 575px;  
  }

.bp.two-column-wide .listing li .inner
  {
  width: 505px;  
  }

.bp.two-column-wide .tabs .listing li .inner
  {
  width: 455px;  
  }
  
html.ie6 , html.ie7 , html.ie8 
  {
  .bp.one-column .tabs .listing li .inner
    {
    width: 810px;  
    }
    
  .bp.two-column .tabs .listing li .inner
    {
    width: 550px;  
    }
    
  .bp.two-column-wide .tabs .listing li .inner
    {
    width: 435px;  
    }
  }
