@import "common";

.bp 
  {  
  h1#page-title
    {
    img
      {
      float: left;
      margin: 0 7px 5px 0;
      }
    }
  
  #members.listing li 
    {
    float: left;
    width: 225px;
    height: 90px;
    margin: 0 10px 5px 0;
    white-space: nowrap;
    overflow: hidden;
    
    h3
      {
      margin-top: 0;
      padding-top: 0;
      clear: none;
      }
    }
  }