@import "common";

.bp
  {     
  #participants-map
    {
    width: 700px;
    height: 450px;
    }
    
  #facets
    {
    ul
      {
      margin: 0;
      padding: 10px;
      }
    }
  
  #charts
    {
    margin: 10px 0 15px 0;
    @include clearfix;
    
    .chart
      {
      margin: 0 0 15px 0;
      }
    }
    
  .tip 
    {
    .ui-tooltip-content
      {
      border: 5px solid #49C4F7;
      border-color: #49C4F7 !important;
      background: white;
      color: #333;
      font-size: 1.2em;
      line-height: 1.4em;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -moz-box-shadow: 0 7px 10px #222;
      -webkit-box-shadow: 0 7px 10px #222;
      box-shadow: 0 7px 10px #222;
      padding: 10px;
      
      p 
        {
        margin: 3px 0;
        padding: 0;
        }
      
      strong
        {
        color: inherit; 
        }
      }
      
    .ui-tooltip-tip
      {
      border: 5px solid $blue;
      }
    }
    
  .h-spacer
    {
    margin: 0;
    padding: 0;
    height: 1px;
    background: #111;
    border-bottom: 1px solid #444;
    overflow: hidden;
    
    &.large 
      {
      height: 4px;
      }
    }
     
  #please-wait
    {
    position: fixed;
    top: 0;
    left: 0;
    background: url(/assets/ajax-loader.gif) no-repeat 4px 6px;
    color: white;
    padding: 2px 5px 2px 25px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 9999999999999999;
    }
    
  #pop-message
    {
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    padding: 2px 5px 2px 5px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 9999999999999999;
    }
    
  #follow-toggle
    {
    display: none;
    }
    
  ul.attributes
    {
    list-style-type: none;
    font-weight: 200;
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 0;
    line-height: 1.1em;  
    
    li 
      {
      list-style-type: none;
      margin: 7px 0 7px 0;
      padding: 0;
      }
    }
    
  .ajax-loader
    {
    margin: 30px auto !important;
    display: block !important;
    border: none !important;
    float: none !important;
    }
    
  .highlight
    {
    padding: 5px 10px;
    margin-bottom: 15px;
    background: #fff;
    color: #000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 3px solid $blue;
    
    h1, h2, h3, h4,h5, h6
      {
      color: #000;
      }
      
    a, a:hover 
      {
      color: $brown;
      }
    
    .ui-icon
      {
      float: left;
      margin: 0 7px 0 0;
      position: relative;
      top: 3px;
      }
    }
    
  .ui-accordion-header.ui-state-default,
  .ui-accordion-header.ui-state-active,
  .ui-accordion-header.ui-state-focus
    {
    font-size: 0.9em;
    margin: 2px 0;
    padding: 0;
    text-indent: 30px;
    white-space: nowrap;
    overflow: hidden;
    }
  
  .ui-accordion-header.ui-state-hover
    {
    color: #fff;
    }
  
  .ui-accordion-header.ui-state-active
    {
    color: $brown;
    }
    
  .owner-only, .members-only, .visitors-only, .not-owner, .admins-only, .not-admin, .owner-only-not-admins
    {
    display: none;
    }
    
  .bottom-actions
    {
    position: absolute;
    bottom: 15px;
    right: 15px;
    }
    
  .pagination
    {
    margin: 10px auto;
    display: block;
    text-align: center;
    }
    
  .tag
    {
    }
    
  .posted-by 
    {
    margin: 0 !important;
    padding: 0;
    
    img
      {
      float: left;
      margin: 0 10px 10px 0;
      }
      
    h4
      {
      margin: 0 0 5px 0;
      padding: 0;
      }
    }
  
  #container .ui-state-highlight
    {
    padding: 5px 10px;
    margin: 0 0 10px 0;
    background: $gray;
    color: $dark_brown;
    border: none;
    
    h1, h2, h3, h4, h5, h6 
      {
      color: $dark_brown;
      }
    
    .ui-icon.ui-icon-info
      {
      float: left;
      margin: 2px 5px 0 0;
      }
    }
    
    .tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
      {
      @include pie-clearfix;
      padding: none;
      border: none;
      font-size: 1em;
      background: none;
      
      .ui-tabs-nav
        {
        border: none;
        border-bottom: 1px solid #DDD;
        background-color: #fff;
        -moz-border-radius: 1px !important;
        -webkit-border-radius: 1px !important;
        border-radius: 1px !important;
        background: none;
        
        li.ui-state-default
          {
          border: none;
          background: none;
          }
        
        li.ui-state-active
          {
          border: none;
          background: #eee;
          
          a:hover
            {
            color: #222;
            }
          }
        }
      }
          
    .tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all .tabs
      {
      float: right;
      width: 390px;
      
      .ui-tabs-panel
        {
        padding: 1em 0;
        background: none;
        }
      }
      
  .pop-nav-inner
    {
    display: none;
    }
  }
  
.bp 
  {
  h3.ui-accordion-header 
    {
    color: #fff;
    border: 1px solid #444;
    background: white url(/assets/ui-bg_flat_65_ffffff_40x100.png) 50% 50% repeat-x;
    
    a, a:hover
      {
      color: #000;
      }
      
    .ui-icon
      {
      background-image: url(/assets/ui-icons_454545_256x240.png);
      }
    }
    
  h3.ui-accordion-header.ui-state-active a 
    {
    color: #000;
    }
  
  .ui-accordion-content.ui-widget-content
    {
    background: transparent;
    border: 1px solid #444;
    }
  }
  
.bp .ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all
  {
  -moz-box-shadow: 0 7px 10px #222;
  -webkit-box-shadow: 0 7px 10px #222;
  box-shadow: 0 7px 10px #222;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  background: #fff;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
    
  li
    {
    list-style-type: none !important;
    max-height: 50px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    
    h4
      {
      clear: none;
      }
    
    a 
      {
      color: #000;
      @include clearfix;
      }
    
    a.ui-corner-all.ui-state-hover
      {
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      text-decoration: none;
      background: $blue;
      color: #000;
      
      h4, small 
        {
        color: #000;
        }
      }
            
    img
      {
      float: left;
      margin: 0 7px 7px 0;
      height: 40px;
      width: 40px;
      }
      
    h4
      {
      margin: 0 0 2px 0 !important;
      padding: 0;
      font-size: 12px;
      color: #333;
      }
  
    small
      {
      color: #808080;
      display: block;
      float: left;
      }
    }
  }