@import "common";

.bp 
  { 
  #details #menu
    {    
    ul
      {
      list-style: none;
      margin: 0;
      padding: 0;
      
      li 
        {
        list-style: none;
        margin: 0;
        padding: 0 10px;
        float: left;
        
        ul 
          {
          display: none;
          }
        }
      }
    }
  
  #pages-submenu
    {
    float: right;
    margin: 0 0 15px 15px;
    max-width: 250px;
    
    strong
      {
      display: block;
      margin: 0;
      }
      
    ul 
      {
      margin: 10px 0 15px 0;
      padding: 0;
      
      ul 
        {
        margin: 7px 0 7px 0;
        
        li 
          {
          margin-left: 20px;
          padding-left: 0;
          list-style-type: circle;
          }
        }
      }
    }
  }