@import "common";

#tester
  {
  margin: 0 0 30px 0;
  text-align: center;
  
  p
    {
    margin: 0 0 5px 0;
    }
  }

.previous-question
  {
  font-size: 0.7em;
  }

#survey-sidebar
  {
  float: right;
  margin: 0 0 15px 15px;
  width: 350px;
  }
  
#survey-share
  {
  margin: 30px auto;
  text-align: center;
  }

#participate
  {
  width: 322px;
  color: #fff;
  
  &.ui-state-active
    {
    color: #333;
    }
  }

#target-surveys
  {
  margin: 10px 0 0 150px;
  clear: both;
  
  li 
    {       
    position: relative;
       
    .remove-target-survey
      {
      display: none;
      position: absolute;
      top: 5px;
      right: 5px;
      }
      
    &:hover 
      {
      .remove-target-survey
        {
        display: block;
        }
      }
      
    .inner
      {
      width: 675px;
      display: block;
      }
    }
  }

#target-surveys-results
  {
  .listing 
    {
    
    li 
      {
      position: relative;
      
      .add-survey
        {
        position: absolute;
        top: 5px;
        right: 5px;
        display: none;
        }  
      
      &:hover
        {
        .add-survey
          {
          display: block;
          }
        }
          
      .inner
        {
        width: 500px;
        }
      }
    }
    
  form#target-survey-search     
    {
    margin: 0;
    padding: 0;
    @include clearfix;
      
    #keywords
      {
      width: span(5);
      height: 18px;
      margin: 10px 0 15px 0;
      padding: 5px 2px 5px 30px;
      -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
      background: rgba(0, 0, 0, 0.3) url(/assets/search.png) 7px 7px no-repeat;
      color: #a0a0a0;
      font-size: 0.95em;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      border: none;
      }
      
    input[type=submit] 
      {
      display: none;
      }
    }
  }

#results
  {      
  .survey_question
    {      
    .nav
      {
      @include clearfix;
      margin-bottom: 15px;
      
      button.previous
        {
        float: left;
        }
        
      button.next
        {
        float: right;
        }
      }
    }
  }

.top
  {
  margin: 0 0 10px 0;
  float: left;
  width: 100%;

  #survey-title
    {
    width: 600px;
    float: left;
    color: #ccc;
    }
  
  #percent-complete
    {
    float: right;
    position: relative;
    width: 300px;
    margin: 10px 0 0 0;
    background: #000;
    
    span
      {
      padding: 2px 5px 0 0;
      position: absolute;
      top: -1px;
      right: 0;
      font-size: 0.9em;
      color: $purple;
      }
    
    .ui-progressbar
      {
      width: 300px;
      height: 1.4em;
      position: absolute;
      top: 0;
      right: 0;
      border: 1px solid #ccc;
      
      .ui-progressbar-value.ui-widget-header
        {
        background: #ccc;
        border: 1px solid #ccc;
        }
      }
    }
  }

#require-pin label
  {
  float: none;
  }

.survey
  {
  span.status 
    {
    font-weight: 200;
    }
  
  #participate2.button
    {
    width: 100%;
    margin: 15px auto;
    display: block;
    }
  }
  
.bp.one-column form.simple_form.survey
  {        
  .outer .input.boolean
    {
    width: 755px;
    margin-left: 0px;
    padding: 10px 10px 10px 145px;
    background: #222;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    background: #202020;
    background-color: rgba(0, 0, 0, 0.3);
    }
    
  .target
    {    
    .check
      {
      border-bottom: 1px solid $gray;
      }
      
    .inner
      {
      display: none;
      float: left;
      }
    }
    
  .tabs ul li 
    {
    .ui-icon
      {
      float: left;
      margin: 0 5px 0 0;
      }
    }
    
  #by-vicinity, #by-address, #by-region
    {
    float: right;
    width: 757px;
    
    .input span 
      {
      width: 590px;
      }
    
    #map-canvas
      {
      height: 300px;
      width: 750px;
      position: relative;
      margin: 0 8px 10px 7px;
      }
    }
    
  #irb-inner, #organization-inner, #cohort-inner 
    {
    float: left;
    clear: both;
    }
  }
  
.editable #root-questions li.survey_question .handle:hover 
  {
  strong
    {
    text-decoration: underline;
    }
  
  .top-actions
    {
    display: block;
    }
  }
    
#root-questions
  {    
  li 
    {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    }

  li.survey_question 
    {
    list-style-type: decimal;
    
    .handle 
      {                    
      .top-actions
        {
        right: 0;
        top: 0;
        position: absolute;
        z-index: 999;
        display: none;
        
        .button
          {
          -moz-box-shadow: 3px 3px 5px #000;
          -webkit-box-shadow: 3px 3px 5px #000;
          box-shadow: 3px 3px 5px #000; 
          }
        } 
      }
    }
  
  p 
    {
    margin: 5px 0;
    }
  
  small
    {
    font-size: 11px;
    }
    
  ol.choices
    {
    margin-top: 5px;
    margin-bottom: 10px;
    list-style-type: alpha;
      
    li.survey_question_choice
      {
      margin-top: 1px;
      margin-bottom: 1px;
      list-style-type: alpha;
      
      ol.nested-questions
        {
        padding: 5px 5px 5px 10px;
        margin: 3px 0 10px 10px;
        list-style-type: decimal;
        border-left: 2px solid #444;
        border-bottom: 2px solid #444;
        }
      }
    }
    
  }
  
  .placeholder
    {
    border: 1px dashed #606060;
    }

  #root-questions-container.editable li.survey_question .handle 
    {
    cursor: move;
    }

  #root-questions-container li.survey_question .handle:hover .top-actions
    {
    display: none;
    }
      
.two-column #body_content_right .posted-by .inner
  {
  width: 125px;
  }

#body_content_right 
  {  
  .posted-by .inner
    {
    width: 247px;
    float: right;
    
    .tags
      {
      display: block;
      clear: both;
      }
    }
          
  #question-search 
    {
    width: 183px;
    margin-top: 0;
    margin-bottom: 3px;
    height: 25px;
    font-size: 1.1em;
    padding: 5px 0 5px 30px;
    border: 1px solid $dark_gray;
    color: #999;
    background: #fff url(/assets/search.png) 7px 10px no-repeat;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    }
    
    #question-search::-webkit-input-placeholder 
      {
      color: #999;
      }
    
    #question-search:focus::-webkit-input-placeholder 
      {
      color: #ddd;
      }
      
    #question-search:-moz-placeholder 
      {
      color: #999;
      }
      
    #question-search:focus:-moz-placeholder 
      {
      color: #ddd;
      }
  }

.ui-dialog .simple_form.survey_question, .ui-dialog .simple_form.new_survey_question, .ui-dialog .simple_form.edit_survey_question
  {  
  display: inline-block !important;
  padding: 10px 0 0 0;
    
  ol.choices
    {
    margin: 0;
    padding: 0;
    float: left;
    
    li 
      {
      margin-left: 2em;
      
      &:hover 
        {
        cursor: pointer;
    	  cursor: hand;
    	  }
    	  
      .input
        {
        display: inline;
        float: none;
        }
    
      input 
        {
        width: 470px;
        margin: 0;
        }
      }
    }
      
  .ui-icon
    {
    margin: 7px 0 0 3px;
    display: inline-block;
    background-image: url(/assets/ui-icons_ffffff_256x240.png);
    }
  
  .ui-icon-close:hover 
    {
    cursor: default;
    }
    
  .new-choice-container
    {
    list-style-type: none;
    
    input
      {
      width: 470px !important;
      margin: 0 0 0 6px;
      }
    }
    
  .actions
    {
    margin: 0 0 0 145px;
    width: auto;
    }
  }
  
form.participant_response, form.new_participant_response, form.edit_participant_response
  {      
  button.full.ui-button.ui-widget.ui-state-default
    {
    width: 100%;
    text-align: left;
    }
    
  .question-body 
    {
    margin: 30px 0;
    padding: 0;
    color: #fff;
    font-size: 1.3em;
    }
    
  h5 
    {
    color: #ccc;
    }
    
  fieldset 
    {
    padding-top: 0;
    min-height: 300px;
    
    legend 
      {
      font-size: 1em;
      }
    }
    
  .hint 
    {
    margin-left: 0 !important;
    }
    
  div.input
    {
    width: 100%;
    }
    
  div.input.check_boxes, div.input.radio
    {    
    span 
      {
      width: auto;
      float: none;
      
      label
        {
        float: none;
        width: auto;
        }
      }
    }
  }
  
html.ie6, html.ie7, html.ie8 
  {
  .survey #participate2.button
    {
    width: 945px;
    margin: 15px;
    display: inline-block;
    }
  }
  