@import "common";

.top
  {
  margin: 0 0 10px 0;
  float: left;
  width: 100%;

  #survey-title
    {
    width: 600px;
    float: left;
    color: #777;
    }
  
  #percent-complete
    {
    float: right;
    position: relative;
    width: 300px;
    margin: 10px 0 0 0;
    
    span
      {
      padding: 2px 5px 0 0;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.9em;
      }
    
    .ui-progressbar
      {
      width: 300px;
      height: 1.4em;
      position: absolute;
      top: 0;
      right: 0;
      }
    }
  }

#require-pin label
  {
  float: none;
  }

.survey
  {
  span.status 
    {
    font-weight: 200;
    }
  
  #participate2.button
    {
    width: 100%;
    margin: 15px auto;
    display: block;
    }
  }
  
.bp.one-column form.simple_form.survey
  {        
  .input.boolean
    {
    width: 755px;
    margin-left: 0px;
    padding: 10px 10px 10px 145px;
    background: #222;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    background: #202020;
    background-color: rgba(0, 0, 0, 0.3);
    }
    
  .target
    {    
    .check
      {
      border-bottom: 1px solid $gray;
      }
      
    .inner
      {
      display: none;
      float: left;
      }
    }
    
  .tabs ul li 
    {
    .ui-icon
      {
      float: left;
      margin: 0 5px 0 0;
      }
    }
    
  #by-vicinity, #by-address
    {
    float: right;
    width: 757px;
    
    #map-canvas
      {
      height: 300px;
      width: 750px;
      position: relative;
      margin: 0 8px 10px 7px;
      }
    }
    
  #irb-inner, #organization-inner, #cohort-inner 
    {
    float: left;
    clear: both;
    }
  }
    
#root-questions
  {    
  li 
    {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    }

  li.survey_question 
    {
    list-style-type: decimal;
    
    .handle 
      {                    
      .top-actions
        {
        right: 0;
        top: 0;
        position: absolute;
        z-index: 999;
        display: none;
        
        .button
          {
          -moz-box-shadow: 3px 3px 5px #000;
          -webkit-box-shadow: 3px 3px 5px #000;
          box-shadow: 3px 3px 5px #000; 
          }
        } 
        
      &:hover 
        {
        .q-tag
          {
          -moz-box-shadow: 3px 3px 5px #000;
          -webkit-box-shadow: 3px 3px 5px #000;
          box-shadow: 3px 3px 5px #000; 
          }
        
        .top-actions
          {
          display: block;
          }
        }
      }
    }
  
  p 
    {
    margin: 5px 0;
    }
  
  .q-tag
    {
    background: #9900ff;
    color: #fff;
    padding: 2px 3px;
    margin: 0 1px 0 0;
    font-size: 0.88em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    }
    
  .q-type-tag
    {
    background: $gray;
    color: #222;
    padding: 2px 3px;
    margin: 0 1px 0 0;
    font-size: 0.88em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    }
    
  .r-tag
    {
    font-weight: bold;
    }
    
  .c-tag
    {
    background: #ffccff;
    color: #222;
    padding: 2px 3px;
    margin: 0 1px 0 0;
    font-size: 0.88em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    }
    
  ol.choices
    {
    margin-top: 5px;
    margin-bottom: 10px;
    list-style-type: alpha;
      
    li.survey_question_choice
      {
      margin-top: 1px;
      margin-bottom: 1px;
      list-style-type: alpha;
      
      ol.nested-questions
        {
        padding: 5px 5px 5px 10px;
        margin: 3px 0 10px 10px;
        list-style-type: decimal;
        border-left: 2px solid #444;
        border-bottom: 2px solid #444;
        }
      }
    }
    
  }
  
  .placeholder
    {
    border: 1px dashed #606060;
    }
    
  #root-questions-container.ordering
    {
    -moz-box-shadow: 0 0 25px #000;  
    -webkit-box-shadow: 0 0 25px #000; 
    box-shadow: 0 0 25px #000; 
    padding: 10px 0;
    margin: 15px 0;
    }

  #root-questions-container.ordering li.survey_question .handle 
    {
    cursor: move;
    
    &:hover .top-actions
      {
      display: none;
      }
    }
  
.two-column #body_content_right .posted-by .inner
  {
  width: 125px;
  }

#body_content_right 
  {  
  .posted-by .inner
    {
    width: 247px;
    float: right;
    
    .tags
      {
      display: block;
      clear: both;
      }
    }
          
  #question-search 
    {
    width: 183px;
    margin-top: 0;
    margin-bottom: 3px;
    height: 25px;
    font-size: 1.1em;
    padding: 5px 0 5px 30px;
    border: 1px solid $dark_gray;
    color: #a0a0a0;
    background: #fff url(/assets/search.png) 7px 10px no-repeat;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    }
  }

.ui-dialog .simple_form.survey_question
  {  
  display: inline-block !important;
  padding: 10px 0 0 0;
    
  ol.choices
    {
    margin: 0;
    padding: 0;
    float: left;
    
    li 
      {
      margin-left: 2em;
      
      &:hover 
        {
        cursor: pointer;
    	  cursor: hand;
    	  }
    	  
      .input
        {
        display: inline;
        float: none;
        }
    
      input 
        {
        width: 470px;
        margin: 0;
        }
      }
    }
      
  .ui-icon
    {
    margin: 7px 0 0 3px;
    display: inline-block;
    background-image: url(/assets/ui-icons_ffffff_256x240.png);
    }
  
  .ui-icon-close:hover 
    {
    cursor: default;
    }
    
  .new-choice-container
    {
    list-style-type: none;
    
    input
      {
      width: 470px !important;
      margin: 0 0 0 6px;
      }
    }
    
  .actions
    {
    margin: 0 0 0 145px;
    width: auto;
    }
  }
  
form.participant_response
  {    
  button.full.ui-button.ui-widget.ui-state-default
    {
    width: 100%;
    }
    
  .simple_form_error
    {
    margin-left: 0 !important;
    width: 250px !important;
    float: none !important;
    }
    
  fieldset 
    {
    padding-top: 0;
    }
    
  .hint 
    {
    margin-left: 0 !important;
    }
    
  div.input
    {
    width: 100%;
    }
    
  div.input.check_boxes, div.input.radio
    {    
    span 
      {
      width: auto;
      float: none;
      
      label
        {
        float: none;
        width: auto;
        }
      }
    }
  }