= render :partial => 'common'
      
- content_for :body_content do
  - if @r_scripts.empty?
    %p No R scripts found.
  - else
    %ul#r_scripts.listing.reset
      - @r_scripts.each do |r_script|
        %li
          = render :partial => '/r_scripts/r_script', :locals => {:r_script => r_script, :show_owner => false}
    = paginate @r_scripts    
  
= render :partial => "/shared/content_page"