= render :partial => 'common'
      
- content_for :body_content do
  - if @statuses.empty?
    %p No statuses found.
  - else
    %ul#statuses.listing.reset
      - @statuses.each do |status|
        %li
          = render :partial => '/members/statuses/status', :locals => {:status => status}
    = paginate @statuses    
  
= render :partial => "/shared/content_page"