#does-not-qualify{:style => 'display:none', :title => "You do not qualify"}
  %h3 Sorry, you do not qualify&mdash;but thanks for your help!
  %p Please share this survey with your friends:
  = render :partial => '/shared/sharing_large'
    