#pilot-no-longer-open{:style => 'display:none', :title => "Pilot no longer open"}
  %p 
    Thank you for your help, however, as this is only a <strong>pilot</strong> survey, 
    the pilot has closed as it has reached its maximum of 30 participants.  
  %p
    Please come back to take this survey when it opens for everyone. 