#run-results{:title => 'Results'}
  #results-actions
    = link_to 'Annotate and Publish these Results', edit_report_path(@report), :class => 'button'
  #plots
    %h3 Plots
    %ul.reset
      - @report.plots.each do |plot|
        %li
          = link_to image_tag(plot.plot.thumb('250x250#').url(:format => :png)), plot.plot.url(:format => :png), :target => '_blank' 
  #output
    %h3 Output
    = simple_format @report.output    
