- content_for :body_content_toolbar do 
  .owner-only-not-admins{:'data-member-id' => @report.member_id}
    - unless @report.new_record?
      %button{:id => 'delete', :icon => 'ui-icon-trash', :class => 'button restrict-to-members'} Delete
      #delete-message{:style => 'display:none', :title => 'Delete this Report'}
        %p 
          Are you sure you want to <strong>delete</strong> this report? 
        .bottom-actions
          = link_to 'Delete', report_path(@report), :method => 'delete', :class => 'button'
          %button{:id => 'cancel-delete', :class => 'button'} Cancel
      %button{:id => 'publish', :icon => 'ui-icon-signal-diag', :class => 'button restrict-to-members', :style => (@report.passing? ? '' : 'display:none')} Publish
      #publish-message{:style => 'display:none', :title => 'Publish this Report'}
        %p 
          Are you sure you want to <strong>publish</strong> this report? 
        .bottom-actions
          = link_to 'Publish', publish_report_path(@report), :method => 'put', :class => 'button'
          %button{:id => 'cancel-publish', :class => 'button'} Cancel
  - if @report.published?
    = render :partial => '/shared/sharing'