- content_for :body_content_toolbar do 
  .owner-only-not-admins{:'data-member-id' => @report.member_id}
    - unless @report.new_record?
      %button{:id => 'delete', :icon => 'ui-icon-trash', :class => 'button restrict-to-members'} Delete
      #delete-message{:style => 'display:none', :title => 'Delete this Report'}
        %p 
          Are you sure you want to <strong>delete</strong> this report? 
        .bottom-actions
          = link_to 'Delete', report_path(@report), :method => 'delete', :class => 'button'
          %button{:id => 'cancel-delete', :class => 'button'} Cancel
  - unless @report.new_record?
    %button{:id => 'forkit', :icon => 'ui-icon-shuffle', :class => 'button restrict-to-members'} Fork
    #forkit-message{:style => 'display:none', :title => 'Fork this Report'}
      %p
        By forking this report, you will create a new report with the same code as this report.
      %p 
        Are you sure you want to <strong>fork</strong> this report? 
      .bottom-actions
        = link_to 'Fork', forkit_report_path(@report), :method => 'put', :class => 'button'
        %button{:id => 'cancel-forkit', :class => 'button'} Cancel
  - if @report.published?
    = render :partial => '/shared/sharing'