= render :partial => '/reports/common'

- content_for :body_content do
  - if @report.pending?
    %p No output exists yet, because you have't run your report.
  - else
    %pre#output= @report.output
        
= render :partial => "/shared/content_page"