= render :partial => '/reports/common' 
  
- content_for :body_content do  
  %ul#surveys.listing.reset
    - @surveys.each do |survey|
      %li= render :partial => '/surveys/survey', :locals => {:survey => survey}
  = paginate @surveys
    
= render :partial => "/shared/content_page"