%h3 Need Help?
%ul.links
  %li
    = link_to "Forgot your password?", main_app.new_member_password_path
  %li
    = link_to "Didn't receive unlock instructions?", main_app.new_member_unlock_path
  - if controller_name != 'sessions'
    %li
      = link_to "Sign in", main_app.new_member_session_path
  %li
    = link_to "Sign up", main_app.new_member_registration_path, :id => 'nh-sign-up'
  %li 
    %a{:href => "/contact"} Contact us
